.content {
    display: flex;
}

.one {
    background: #e84825;
    color: white;
    position: relative;
    width: 70px;
    height: 20px;
    padding: 1em;
    margin: 1em;
    text-align: center;
    cursor: pointer;
}

.one:hover {
    height: 95px;
}

.one > .option {
    position: relative;
    top: 15px;
    display: none;
    cursor: pointer;
}

.one:hover > .option {
    display: block;
}

.one > .option:hover {
    background: #dc3b17;
    padding: 0px 2px 0px 0px;
    border-radius: 5px;
}

.two {
    background: #e84825;
    color: white;
    position: relative;
    width: 70px;
    height: 20px;
    padding: 1em;
    margin: 1em;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
}

.two:hover {
    height: 95px;
}

.two > .option {
    position: relative;
    top: 15px;
}

.two > .option:hover {
    background: #dc3b17;
    padding: 0px 2px 0px 0px;
    border-radius: 5px;
}

.three {
    position: relative;
    color: white;
    background: #e84825;
    width: 40px;
    height: 40px;
    margin: 1em;
    text-align: center;
    -webkit-transition: width 0.2s, text-align 0.2s, height 0.2s, color 0.2s;
    transition: width 0.2s, text-align 0.2s, height 0.2s, color 0.2s;
    overflow: hidden;
}

.three > i {
    position: relative;
    top: 13px;
}

.three:hover {
    width: 75px;
    height: 90px;
    text-align: right;
}

.three > div > a {
    position: relative;
    cursor: pointer;
    right: -100em;
    color: white;
}

.three:hover > div > a {
    top: 0em;
    right: 1em;
}

.three:hover > i {
    right: 1em;
    color: #e84825;
}

.three > div > a:hover {
    background: #dc3b17;
    padding: 0px 2px 0px 0px;
    border-radius: 5px;
}