@media only screen and (max-width: 768px) {
  background-color: blue;
}

body {
  background: red url("assets/zevin-fitzgerald-479718-unsplash.jpg") no-repeat fixed center;
  background-size: 100%;
  margin: 0em;
}

.sidebar {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 10%;
}
