body {
    margin: 0px;
    padding: 0px;
    background: #161616;
    font-family: 'Cabin', sans-serif;
}

.header {
    background: #232323;
    height: 60px;
    box-shadow: 0px 0px 15px 0px black;
    color: #e8e8e8;
    font-size: 250%;
    cursor: default;
}

.header > i {
    position: relative;
    top: 8px;
    left: 10px;
}

.header > a {
    position: relative;
    top: 5px;
    left: 5px;
}

.header > a.sub {
    font-size: 50%;
    color: #565656;
    position: relative;
    top: 0px;
    padding-left: 10px;
}

.content {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: 350px;
    grid-gap: 1em;
}

.content > div {
    width: 100%;
    height: 100%;
}

.content > div > a > img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-transition: filter 0.2s;
    transition: filter 0.2s;
}

.content > div > a > img:hover {
    filter: blur(5px) brightness(50%);
}

.content > div > a > p {
    display: none;
    cursor: default;
    text-decoration: none;
    position: relative;
    top: -50px;
    text-align: center;
    color: white;
    z-index: 1;
    -webkit-transition: display 0.2s;
    transition: display 0.2s;
}

.content > div > a:hover > p {
    display: block;
}