body {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inside, .outside {
  display: grid;
}

.empty, .sat {
  font-weight: bold;
  background-color: #dddddd;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.booth:after {
  content: " Booth";
}

.tall:after {
  content: " Tall";
}

p {
  text-align: center;
  font-weight: bold;
}

.empty {
  background-color: #dddddd;
}

.sat {
  background-color: #2581d1;
  color: white;
}

body, html {
    overflow-x: hidden;
    overflow-y: auto;
}
